#ddev-generated
version: '3.6'
services:
  solr:
    container_name: ddev-${DDEV_SITENAME}-solr
    image: bitnami/solr:8
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    environment:
      # This defines the host name the service should be accessible from. This
      # will be sitename.ddev.site.
      - VIRTUAL_HOST=$DDEV_HOSTNAME
      # HTTP_EXPOSE exposes http traffic from the container port 8983
      # to the host port 8983 vid ddev-router reverse proxy.
      - HTTP_EXPOSE=8983:8983
      # Bitnami Image specifics
      - SOLR_CORES=collection1
      - SOLR_CORE_CONF_DIR=/mnt/ddev_config/solrconfigs
    volumes:
      # solr core *data* is stored on the 'solr_data' docker volume
      # This mount is optional; without it your search index disappears
      # each time the ddev project is stopped and started.
      - solr_data:/bitnami

      - ".:/mnt/ddev_config"
    healthcheck:
      timeout: 30s

volumes:
  # solr_data is a persistent Docker volume for solr data
  solr_data:
    name: "ddev-${DDEV_SITENAME}_solr"